<template>
    <div class="about">
        <h1>This is an admin page</h1>

        <form @submit="saveRec">

            <select v-model="player">
                <option v-for="option in currentPlayers" v-bind:value="option">
                    {{ option }}
                </option>
            </select>

            <label>Level:</label>
            <input type="number" v-model="level">
            <label>Kills:</label>
            <input type="number" v-model="kills">
            <label>Deaths:</label>
            <input type="number" v-model="deaths">
            <br>
            <input value="New Match" type="submit" />

        </form>

        <div v-for="item in savedRecords">
            {{item}}
        </div>
    </div>
</template>

<script>

    import Controller from '@/../lib/controller'
    import TelemetryRecord from '@/../lib/TelemetryRecord'

    class AdminController extends Controller {

        constructor( name, subComponents = {}) {
            
            super(name, subComponents);

            this.vm = {

                player: "",
                level: 0,
                kills: 0,
                deaths: 0
            }

            this.props = {

            }

            this.injectActions(['setRecord', 'refreshPlayers', 'refreshRecords', 'setPlayer']);
            this.injectGetters(['selectedPlayer', 'savedRecords', 'currentPlayers']);
        }

        vue_created() {

            this.refreshPlayers();
        }

        saveRec() {

            let record = new TelemetryRecord(this.level, this.kills, this.deaths);

            this.setPlayer(this.player);
            this.refreshRecords(this.selectedPlayer);
            this.setRecord({record: record, playerId: this.selectedPlayer});
        }
    }

    export default new AdminController('teledataAdmin')

</script>