<template>
  <div class="home">
    <form @submit="loadCharts">

            <input value="Load Charts" type="submit" />

        </form>
    <img alt="Vue logo" src="../assets/logo.png">
  </div>
</template>

<script>

    import Controller from '@/../lib/controller'
    import { Bar } from 'vue-chartjs'

    class ChartsController extends Controller {

        constructor( name, subComponents = {}) {
            
            super(name, subComponents);

            this.vm = {
              
            };

            this.props = {

            };
            this.extends = Bar;
        }

        loadCharts() {

        }
        
        vue_mounted () {
            this.renderChart(data, options)
        }
    }

    export default new ChartsController('teledataCharts')

</script>