<template>
    <div class="about">
        <h1>Register Here!</h1>

        <form @submit="register">

            <label>Nickname</label>
            <input v-model="nickname" placeholder="Nicolas4677...">
            <input value="Register" type="submit" />
            <p>{{nickname}}</p>

        </form>
    </div>
</template>

<script>

    import Controller from '@/../lib/controller'

    class RegisterController extends Controller {

        constructor( name, subComponents = {}) {
            
            super(name, subComponents);

            this.vm = {

                nickname: ""
            }

            this.props = {

            }

            this.injectActions(['addPlayer']);
        }

        register() {

            this.addPlayer(this.nickname);
        }
    }

    export default new RegisterController('teledataRegister')

</script>