<!--Copyright (C) 2020, Nicolas Morales Escobar. All rights reserved.-->

<template>
    <div id="app">
        <div id="nav">
            
            <router-link to="/register">Register</router-link> |
            <router-link to="/admin">Data</router-link> |
            <router-link to="/charts">Charts</router-link> |
            
        </div>

        <router-view/>
    </div>
</template>

<script>
    // typical Vue component controller defined and registered here
    import Controller from '@/../lib/controller'

    class AppController extends Controller {

        constructor( name, subComponentList = []) {
            super( name, subComponentList );
            this.vm = {
                title: 'Telemetry App',
                subtitle: ''
            }
        }
    }

    // export a definition for this view
    export default new AppController('pgApp', { });

</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}
</style>
